<div class="background-img">
  <div class="about-wrap">
    <mat-card class="example-card bg-transparent">
      <div @flyInOut class="overlay-img">
        <img
          class="overlay"
          src="assets/img/pushpa.png"
          alt="Pushpa Raj Dangi"
        />
        <div class="about-content typewriter">
          <p>
            Hi, I'm Pushpa Raj Dangi freelance web developer and designer. I'm
            currently working at
            <a
              href="https://www.appharu.com/about-us?pushpadc"
              style="color:yellow"
              >appaharu.com</a
            >
            since 2017 as a designer and developer. I have Designed more than
            100 websites .
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
