<div class="skill-card">
  <h1 class="skill-title">
    I'm Good at What I do
  </h1>
</div>
<div class="skill text-center">
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="https://cdn0.iconfinder.com/data/icons/internet-line/512/Internet_Line-11-128.png" alt="Html,css">
    <mat-card-content>
      <p>
        HTML, CSS & JAVASCRIPT
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="https://cdn0.iconfinder.com/data/icons/elpis/144/Web_Development-128.png" alt="Web Development">
    <mat-card-content>
      <p>
        DEVELOPMENT
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="https://cdn0.iconfinder.com/data/icons/elpis/144/Web_Design-128.png" alt="Web Design">
    <mat-card-content>
      <p>
        DESIGNING
      </p>
    </mat-card-content>
  </mat-card>

</div>
