<!-- <div class="main-cover">
  <h1 class="pushpa-title">Pushpa Raj Dangi</h1>
</div> -->
<div class="main-cover">
  <!-- <h1 class="pushpa-title">Pushpa Raj Dangi</h1> -->
  <iframe @flyInOut src="/assets/logo/header.html" class="main-frame" frameborder="0" width="600" height="600">
  </iframe>

  <div class="social">
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a href="https://www.facebook.com/pushparajdangi" target="_blank">
          <img class="social-img"
            src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697057-facebook-128.png" alt="" />
        </a>
      </button>
      <button mat-menu-item>
        <a href="https://twitter.com/pushparajdc" target="_blank">
          <img class="social-img"
            src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697029-twitter-512.png" alt="" />
        </a>
      </button>
      <button mat-menu-item>
        <a href="https://www.instagram.com/dc_pushpa/" target="_blank">
          <img class="social-img"
            src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-08-128.png"
            alt="" />
        </a>
      </button>
      <button mat-menu-item>
        <a href="https://goo.gl/M7rBpo" target="_blank">
          <img class="social-img"
            src="https://cdn1.iconfinder.com/data/icons/iconza-circle-social/64/697037-youtube-128.png" alt="" />
        </a>
      </button>
    </mat-menu>
  </div>
  <h1 class="head-title">Pushpa Raj Dangi</h1>
  <div class="typewriter">
    <h5 class="pushpa-title">A professional Web Designer & Developer</h5>
  </div>
  <button mat-button mat-raised-button color="" class="more">
    <a routerLink="/about"> Learn More</a>
  </button>
</div>
