<div class="skill-card" style="margin-top:10%">
  <h1 class="skill-title">
    here are some feature works.
  </h1>
</div>
<div class="skill text-center">
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="assets/img/newsofnepal.png" alt="News Of Nepal">
    <mat-card-actions class="visit">
      <a target="_blank" href="http://www.newsofnepal.com">
        <button color="primary" mat-button mat-raised-button>Visit</button>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="assets/img/janatasamachar.png" alt="Janata Samachar">
    <mat-card-actions class="visit">
      <a target="_blank" href="http://www.janatasamachar.com">
        <button color="primary" mat-button mat-raised-button>Visit</button>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="assets/img/ramailo.png" alt="Ramailo Chha">
    <mat-card-actions class="visit">
      <a target="_blank" href="http://www.ramailochha.com">
        <button color="primary" mat-button mat-raised-button>Visit</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>

<div class="skill text-center">
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="assets/img/dharan.png" alt="Dharan Goverment">
    <mat-card-actions class="visit">
      <a target="_blank" href="http://www.dharan.gov.np/">
        <button color="primary" mat-button mat-raised-button>Visit</button>
      </a>
    </mat-card-actions>
  </mat-card>

  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="assets/img/sherdhan.png" alt="sherdhanrai.com">
    <mat-card-actions class="visit">
      <a target="_blank" href="http://www.sherdhanrai.com/">
        <button color="primary" mat-button mat-raised-button>Visit</button>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card @flyInOut class="my-card">
    <img mat-card-image src="assets/img/gokul.png" alt="lightnepalnews.com">
    <mat-card-actions class="visit">
      <a target="_blank" href="http://www.gokulbaskota.com/">
        <button color="primary" mat-button mat-raised-button>Visit</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
